.Masthead {
    background-color: #90e0ef;

    &__Wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
    }

    &__Left {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            max-width: 70px;
        }
    }
    &__Right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: color 0.3s ease-out;

        & a {
            margin-right: 24px;
            color: #1e212b;
            font-weight: 600;

            &::after {
                content: "";
                display: block;
                position: relative;
                top: 0.5rem;
                width: 100%;
                opacity: 0;
                height: 1px;
                background-color: #03045e;
                transition: all 0.3s ease-out;
                transform: scaleX(0);
                transform-origin: left;
            }

            &:hover {
                color: #03045e;
                &::after {
                    opacity: 1;
                    transform: scaleX(1);
                }
            }
        }
    }
}
