.Banner {
    background-color: #f49d2a;
    color: #fff;
    padding: 8px 0;
    position: fixed;
    z-index: 1010;
    width: 100%;

    @media screen and (max-width: 56.25em) {
        display: none;
        visibility: hidden;
    }
}

.BannerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #400436;
    font-size: 28px;

    &__Left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__Right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__Bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 22px;
        transition: all 0.3s ease-out;

        &_svg {
            margin-top: 3px;
            margin-right: 8px;
        }

        &:hover {
            opacity: 0.5;
        }
    }
}
